<as-split direction="horizontal">
  <as-split-area size="30" minSize="15">
    <as-split direction="vertical">
      <as-split-area>
        <app-panel-search-history class="panel-card" />
      </as-split-area>
    </as-split>
  </as-split-area>
  <as-split-area size="70" minSize="50">
    <as-split direction="vertical">
      <as-split-area size="40" minSize="20">
        <as-split direction="horizontal">
          <as-split-area>
            <app-panel-location-map
              class="panel-card"
              label="Your location"
              [location]="myLocation()"
            />
          </as-split-area>
          <as-split-area>
            <app-panel-location-details
              class="panel-card"
              label="Your location details"
              [location]="myLocation()"
            />
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="20" minSize="10" maxSize="20">
        <as-split direction="horizontal">
          <as-split-area size="80" minSize="40">
            <app-panel-search-input class="panel-card" />
          </as-split-area>
          <as-split-area size="20" minSize="10">
            <app-panel-search-submit class="panel-card" />
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area size="40" minSize="10">
        <as-split direction="horizontal">
          <as-split-area>
            <app-panel-location-map
              class="panel-card"
              label="Search location"
              [location]="searchedLocation()"
            />
          </as-split-area>
          <as-split-area>
            <app-panel-location-details
              class="panel-card"
              label="Search location details"
              [location]="searchedLocation()"
            />
          </as-split-area>
        </as-split>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>
